* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #b9b9b9;
  --red: #c42741;
  --gray: #181818;
  --green: #269970;

  --white-gray: #373737;

  --text-title: #0e0e0e;
  --text-body: #121212;

  --shape: #dadada;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disable] {
  opacity: 0.6;
  cursor: not-allowed;
}

.hidden-arrows input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
