.Container {
  margin-top: 0.75rem;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
  }

  td {
    padding: 1rem 2rem;
    border: 0;
    display: flex;

    background: var(--shape);
    color: var(--text-body);
    border-radius: 0.25rem;

    @media (min-width: 768px) {
      display: table-cell;
    }

    &:first-child {
      color: var(--text-title);
    }

    &.income {
      color: var(--green);
    }

    &.outcome {
      color: var(--red);
    }
  }
}
